<div id="drones-view">
  <h2>Available drones</h2>
  <div id="drones-cartas-contenedor">
    <ul>
      {{#each droneList}}
        <li id="drone-carta">
          <div class="drone-carta-info">
            <p>Name: {{this.name}}</p>
            <p>Propellers: {{this.propellers}}</p>
            <p>Max Speed: {{this.maxSpeed}}</p>

          </div>
          <div id="drone-carta-botones">
            <a href="/drones/{{this._id}}/edit">Editar Drone</a>
            <form action="/drones/{{this._id}}/delete" method="POST">
              <button>Borrar Drone</button>
            </form>

          </div>

        </li>
      {{/each}}
    </ul>

  </div>

  <a href="/drones/create">
    <button>Crear Drone</button>
  </a>

</div>